In [1]:
### DEMO Market Basket Analysis
### https://www.youtube.com/watch?v=4QIWJVVWJdQ&feature=emb_logo

import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
### Import & Preview
myretaildata = pd.read_excel('OnlineRetail.xlsx')
myretaildata.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
d = myretaildata

### Data Cleaning
d['Description'] = d['Description'].str.strip()
d.dropna(axis=0,subset=['InvoiceNo'],inplace = True)
d['InvoiceNo'] = d['InvoiceNo'].astype('str')

### Delete Credit Invoices
d = d[~d['InvoiceNo'].str.contains('C')]

d.shape

(532621, 8)

In [5]:
d['Country'].value_counts()

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [8]:
### Separating transactions for Germany
d = (d[d['Country']=="Germany"]
.groupby(['InvoiceNo','Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.setindex('InvoiceNo'))

AttributeError: 'DataFrame' object has no attribute 'setindex'

In [ ]:
###converting all positive vaues to 1 and everything else to 0

def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [ ]:
my_basket_sets = mybasket.applymap(my_encode_units)
my_basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [ ]:
my_frequent_itemsets = apriori(my_basket_sets, min_support=0.07, use_colnames=True)

#generating rules
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)
my_rules.head(100)

In [ ]:
my_basket_sets['ROUND SNACK BOXES SET OF4 WOODLAND'].sum